@media (min-width: 768px) and (max-width: 912px) {
    .body {
        height: 100vh;
        overflow-y: auto;
    }
}

footer,
.job-title,
.job-type {
    background-color: #20333a;
}

@media (max-width: 280px) {
    .display {
        display: border flex;
        flex-direction: column;
    }

}